.NEECStyle {
    width: 100vw;
    height: 60vh;
    background-image: url("../Images/NEECpeople.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    filter: brightness(40%);
}

.User {
    height: 150px;
    width: 150px;
    background-image: url("../Images/Carlos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
};

.grid {
}

.userbox{
    text-align: center;
    padding-bottom: 10px
}

.userlinks{
    padding-left: 10px
}