.NEEClogo {
  width: 200px;
  height: 70.48px;
}

.navbar {
  border: none;
  box-shadow: none;
}

.navbar-default {
  height: 10%;
  background-color: white;
}

.navbar-nav li a {
  padding-top: 25px;
}