.section {
    height: 15vh;
    border-bottom: solid #009DE0;
    margin-bottom: 60px;
    background-color: #2d3035;
}

.text {
    margin-top: 0;
    line-height: 15vh;
    text-align: center;
    color: white;
    font-size: 30px;
}