.Workshoptop {
    width: auto;
    height: 60vh;
    background-image: url("../Images/workshops.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    filter: brightness(40%);
}

.card {
    padding-right: 10px;
    margin-bottom: 10px;
}

.col {
    flex-basis: 33%;
    padding-bottom: 0px;
}

.CodingGrid {
    padding-left: 10px;
}